body{
	text-align: center;
	font-family: "Comic Sans MS", Sans-Serif;
	background: #dadada;
	color: #000;
	margin-left: 5em;
	margin-right: 5em;
	margin-top: 1em;
}
h1{
	font-family: Helvetica, Sans-Serif;
	text-shadow: 2px 3px grey;
}
p{
	font-size: 20px;
	margin: .5em;
}
li{
	font-size: 20px;
	text-align: center;
	margin-left: 20px;
}
div{
	text-align: center;
	font-size: 1.5em;
	margin-right: 6em;
	margin-left: 6em;
}
#colournil{
	background: #000;
	color: #eeeeee;
	font-size: 2em;
	margin-right: 4.5em;
	margin-left: 4.5em;
}
#colour1{
	background: #FA8072;
}
#colour2{
	background:	#20B2AA;
}
#colour3{
	background: #00FF7F;
}
#colour4a{
	background:#FFF;
	color: #DC143C;
}
#colour4b{
	background:#FFF;
	color: #008B8B;
}
#colour4c{
	background: #FFF;
	color: #32CD32;
}
#fancytitle1{
	border-left-style: solid;
	border-bottom-style: solid;
	border-color: #DC143C;
}
#fancytitle2{
	border-left-style: solid;
	border-bottom-style: solid;
	border-color: #008B8B;
}
#disclaimer{
	font-size: 12px;
	
}
#quellanger{
	margin:0px;
	
}


a{
	color: black;
}
a:visited{
	color: black;
}
a:hover{
	color: #676767;
}
